/*font-family: 'Didact Gothic', sans-serif;*/
/*font-family: 'Kite One', sans-serif;*/
/*font-family: 'Cantora One', sans-serif;*/
/*font-family: 'Bubbler One', sans-serif;*/
/*font-family: 'Patrick Hand SC', cursive;*/
/*font-family: 'Permanent Marker', cursive;*/


/*-----------GLOBAL STYLES-----------*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  font-family: 'Lato', sans-serif;
}

.panel {

}

#leftPanel {

}

#rightPanel {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
}

/*a{

}*/

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"] , input[type="url"], textarea {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: 'Lato', sans-serif;
}

form {
  text-align: center;
  font-style: italic;
}

table {
  overflow-x: scroll;

}

tr {
  background-color: pink;
}

td {

}

/*Playlist Name*/
h2 {
  font-family: 'Kalam', cursive;
  /*font-family: 'Permanent Marker', cursive;*/
  padding-top: .5em;
}

/*Logo*/
h3 {
  font-family: 'Kalam', cursive;
  /*font-family: 'Permanent Marker', cursive;*/
  text-align: center;
  letter-spacing: 0.0625em;
}


#logoCentered {
  font-family: 'Kalam', cursive;
  /*font-family: 'Permanent Marker', cursive;*/
  text-align: center;
  font-size:2.5em;
  /*letter-spacing: 0.0625em;*/
  color: #000;
}

#logoCentered:hover {
  color: #606060;
}

/*-----------(MOSTLY)GLOBAL STYLES-----------*/

#headerUserNav {
  display: inline-block;
  float:right;
  width: auto;
  height: 5.5rem;
  padding-top: 0;
  padding-bottom: 0.5rem;
  line-height: 1.1;
}

#userIcon {
  padding-left: 2em;
  color: #000;
}
#userIcon:hover {
  color: #606060;
}

#userAreaEllipsis {
  padding-left: .5em;
  color: #33e0d6;
}
#userAreaEllipsis:hover {
  color: #5fe7df;
}

#loggedinUsernameDisplay {
  float: right;
}
#loggedinUsernameDisplay:hover {
  /*color: ;*/
}

#primaryButtonStyle {
  background-color: #33e0d6;
  font-family: 'Lato', sans-serif;
  /*font-family: 'Kalam', cursive;*/
  /*font-family: 'Permanent Marker', cursive;*/
  text-align: center;
  letter-spacing: 0.0625em;
}

#mixActionButtons {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  text-align: center;
  color: #fff;
  padding-top: 25%;
  padding-right: 25%;
  padding-left: 25%;
  padding-bottom: 10%;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
}

#newPlaylistButton {
  background-color: #33e0d6;
  font-family: 'Lato', sans-serif;
  /*font-family: 'Kalam', cursive;*/
  /*font-family: 'Permanent Marker', cursive;*/
  letter-spacing: 0.0625em;
}

.showCreate {
  text-align: center;
}

.mixNameInput {
  font-family: 'Lato', sans-serif;
}

#submitNewMixName {
  background-color: #33e0d6;
  font-family: 'Lato', sans-serif;
}
.searchInput {
  font-family: 'Lato', sans-serif;
}

#browseMineButton {
  background-color: #33e0d6;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.0625em;
  /*font-family: 'Kalam', cursive;*/
  /*font-family: 'Permanent Marker', cursive;*/

}

/*.myMixes {
  text-align: center;
}
*/

#browseAllButton {
  background-color: #33e0d6;
  /*font-family: 'Kalam', cursive;*/
  /*font-family: 'Permanent Marker', cursive;*/
  letter-spacing: 0.0625em;
}

/*.playa {
text-align: center;
}*/


#deleteTrack {
  background-color: #e61610;
}

/*#currentPlaylistTitle {
  font-family: 'Kalam', cursive;
}*/

#trackNames {
  /*font-family: 'Lato', sans-serif;*/
}



/*-----------VIEW-UNIQUE STYLES-----------*/


#userIconLogin {
  margin-bottom: .5em;
  margin-left: 45%;
  margin-right: 45%;
  color: #33e0d6;
}

#aboutText {
  text-align: center;
}

#signupHeader {
  text-align: center;
}
