/*-----------GLOBAL STYLES-----------*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em; /* 1 */
   -webkit-text-size-adjust: 1em; /* 2 */ -ms-text-size-adjust: 1em; /* 2 */
  cursor: pointer;
}

html::-webkit-scrollbar {
    display: none;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  font-family: 'Lato', sans-serif;
  background-color: #000;
}

.panel {
  background-color: #191919;
  border-color: #2a2a2a;
  /*border: none;*/
  margin-top: 1rem;

}
/*TODO SET MIN-WIDTH, etc. prevent overlap*/
#leftPanel {
  overflow: auto;
  padding-left: 2%;
  padding-right: 2%;
}

#rightPanel {
  padding-top: 0.25rem;
  padding-left: 2%;
  padding-right: 2%;
  /*padding-right: 0.75rem;*/
  overflow: scroll;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="url"], textarea {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  /*font-size:1em;*/
  font-size: 0.875em;
  border-radius: 2px;
}

input[type="search"] {
  width: 200px;
  font-size: 0.875em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}


p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

/*"Mixtapez"*/
#logoCentered {
  font-family: 'Kalam', serif;
  /*float: right;*/
  text-align: center;
  font-size:2.5em;
  /*position: static;*/
  /*letter-spacing: 0.0625em;*/
  color: #33eade;
}

#logoCentered:hover {
  color: #8ff4ed;
}

form {
  text-align: center;
  /*font-style: italic;*/
}

/*div containing meteor login and logo*/
#usercontrolsandheader {
  /*display: inline-block;*/
}

table {
  overflow-x: scroll;
  border: none;
  display: inline-block;

}

tr {
  background-color: #222;
  cursor: pointer;
}

td {
  /*background-color: #111;*/
  background-color: #222;
  font-size: 12px;
  border:none;
  padding: none;
  /*border-color: #222;*/
}

/*td:hover {
  font-weight: bolder;
}*/

/*Playlist Name, "My Mixes", "All Playlists"*/
h2 {
  font-family: 'Kalam', serif;
  color: #33eade;
}

.panel h2 {
  color: #33eade;
}

/* h2, "My Mixes"*/
#mixesHeader {
  /*padding-top: .5em;*/
  color: #33eade;
}

/*"All Playlists"*/
#playlistsHeader {
  /*padding-top: .5em;*/
  color: #33eade;
}


button {
  font-family: 'Lato', sans-serif;
  /*text-align: center;*/
  /*letter-spacing: 0.0625em;*/
  background-color: #33eade;
  border-bottom: 3px inset #17e4d6;
}

.button {
  padding: 5px 5px;
}

/*span containing buttons (JUST buttons, not search or anything)*/
#mixActionButtons {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  /*margin-top: 5em;*/
  /*position: static;*/
  display: inline-block;
  margin-top: 10px;
  /*margin-left: auto;
  margin-right: auto;*/
  display: flex;
  justify-content:center;
}

#newPlaylistButton {
  font-family: 'Lato', sans-serif;
  color: #fff;
  width: 130px;
  padding: none;
  margin-right: 1%;
  /*background-color: #33eade;
  border-bottom: 3px inset #16d4c8;*/
  background-color: #f41c03;
  border-bottom: 3px inset #c21603;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

#newPlaylistButton:hover{
  /*background-color: #26d6ca;*/
  background-color: #e41a03;
}

#browseMineButton {
  font-family: 'Lato', sans-serif;
  /*letter-spacing: 0.0625em;*/
  width: 130px;
  margin-right: 1%;
  background-color: #f41c03;
  border-bottom: 3px inset #c21603;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

#browseMineButton:hover{
  background-color: #e41a03;
}

.mixlist {
  margin-left: auto;
  margin-right: auto;
}
#browseAllButton {
  font-family: 'Lato', sans-serif;
  width: 130px;
  /*letter-spacing: 0.0625em;*/
  background-color: #f41c03;
  border-bottom: 3px inset #c21603;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

#browseAllButton:hover {
  background-color: #e41a03;
}

/*div containing h2 "all mixes", and displays all mixes*/
.list {
  /*margin-left: auto;
  margin-right: auto;*/
}

.showCreate {
  text-align: center;
}

/*-----------The Search-----------*/

.search-con {
  display: block;
  padding: 2%;
}
/*div containing search form and save button*/
#search {
  display: inline-block;
}

/*div containing give your mix a name...*/
.savePlay {
  margin-top: 10px;
  /*border: 1px solid green;*/
}

#mixNameInput {
  font-size: 12px;
  width: 150px;
}

#mixNameInput:focus {
  color: #ccc;
}

#nameMixError {
  color: red;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  text-align: center;
}

/*div containing everything search-related*/
section {
  padding: 5%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  /*display: block;*/
}

#vidSearchInput {
  /*font size: 12px;*/
  /*padding: 0 0;*/
  padding: 1%;
  width: 175px;
}
/* this doesn't seem to have any effect but ideally it would change the inputs color of the search from user agent stylesheet's yellow to white*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #ccc;
  background-image: none;
  color: rgb(0, 0, 0);
}

.subnav {
  visibility: hidden;
  position: sticky;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right:auto;
  opacity: 1;
  z-index: 1;
  transition: all 0.1s;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.subnav li {
  float: none;
  list-style-type: none;
  text-align: left;
  color: #eee;
  border-radius: 2px;
}
.subnav li a {
  border-bottom: 1px;
}


.subnav .songClass:hover {
  /*background-color: rgb(68, 138, 201);*/
  background-color: #2a2a2a;
  /*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
  /*padding: 3px 0px 3px 3px;*/
  /*margin: 5px 1px 3px 0px;*/

}

.songClass {
  font-size: 14px;
  border: 1px inset #2a2a2a;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

.songClass img {
  width: 67px;
  height: 50px;
  margin-right: 5px;
  border-radius: 1px;
}


#options a{
  border-left: 0 none;
  text-decoration: none;
}
#options>a {
  background-position: 85% center;
  background-repeat: no-repeat;
  /*padding-right: 42px;*/
}


/*"Done!" button*/
#submitPlaylist {
  font-family: 'Lato', sans-serif;
  color: #fff;
  width: 100px;
  font-weight: normal;
  padding: 7px 5px;
  letter-spacing: 0.0625em;
  background-color: #33eade;
  border-bottom: 3px inset #16d4c8;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
  border-radius: 3px;
}
#submitPlaylist:hover{
  background-color: #26d6ca;
}

/*#submitPlaylist:focus{
  background-color: #ccc;
}*/

/*----------- METEOR'S LOGIN STYLES-----------*/

/* contains the ENTIRE SHEBANG auto height, auto width (spans across panel)*/
#login-buttons {
  z-index: 10;
  line-height: 1.5;
  padding: 1%;
  cursor: pointer;
}

/* "SIGN IN" link that triggers entire drop down */
.login-link-text {}
#login-sign-in-link {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  color: #33eade;
}

#login-sign-in-link:hover {
  color: #8ff4ed;
}

.login-close-text {
  letter-spacing: 0.0625em;
  color: #8ff4ed;
}

.login-close-text:hover {
  text-align: center;
  letter-spacing: 0.0625em;
  color: #aef7f2;
}

/*div containing "SIGN IN" link to submit form*/
#login-buttons-password {}
.login-button {
  letter-spacing: 0.0625em;
  color: #33eade;
  }

.login-form-submit {}
.login-button:hover {
  color: #8ff4ed;
}

.login-button-form-submit{
  text-align: center;
  font-size: 1.10em;
  letter-spacing: 0.0625em;
  color: #26d6ca;
  }


.additional-link{
  letter-spacing: 0.0625em;
  color: #33eade;
}

.additional-link:hover{
  letter-spacing: 0.0625em;
  color: #8ff4ed;
}

/*"Create Account" text and button to submit form */
.login-button {}
.login-button-form-submit {
  text-align: center;
  padding-bottom: 2%;
  letter-spacing: 0.0625em;
  color: #33eade;
}
.login-button-form-submit:hover {
  color: #8ff4ed;
}

label {
  text-align: center;
  color: #F9F9F9;
  font-size: 1em;
  letter-spacing: 0.0625em;
  margin-bottom: 0.3rem;
}

/* ERROR MESSAGES  username must be at least 3 characters long etc*/
.messsage{}
.error-message{
  color: red;
}

/*logged in user's username, is a dropdown link*/
.login-link-text {}
#login-name-link {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  color: #33eade;
}

#login-name-link:hover {
  color: #8ff4ed;
}


/*within above div, contains ACTUAL signup link, which has the following id and class*/
.additional-link {}
#signup-link {
  font-family: 'Lato', sans-serif;
  font-size: 1.10em;
  color: #33eade;
  }

#signup-link:hover {
  color: #8ff4ed;
}


/*"SIGN OUT" goes back to original Sign In thing*/
.login-button {}
#login-buttons-logout {
  font-family: 'Lato', sans-serif;
  font-size: 1.10em;
  color: #8ff4ed;
  /*padding: 2%;*/
}

  #login-buttons-logout:hover {
    color: #aef7f2;
  }

/* "Close" text which closes account options form*/
.login-close-text {
  color: #8ff4ed;
  margin-top: 5px;
  }

  .login-close-text:hover {
    color: #aef7f2;
  }

/*input field for password (empty by default)*/
  #login-password {
    text-align: center;
  }
  /*input*/
  #login-password {
    text-align: center;
  }
  /*input*/
  #login-old-password {
    text-align: center;
  }
  /*input field for username (empty by default)*/
  #login-username {
    text-align: center;
  }
  /*input*/
  #login-password-again {
    text-align: center;
  }

/*----------- Extras from Meteor template  -----------*/

/*contains EVERYTHING that will show in the drop downs when you click sign in, as well as the log-in form that first appears*/
.login-link-and-dropdown-list {
  /*height: 300px;*/
}
/*div holding all account dropdownmenu options  */
.login-dropdown-list {}
#accounts-dialog {}

/*div containing the form*/
.login-form {}
.login-password-form {}

/*"Sign In" below form. basically a nevermind link*/
#back-to-login-link {}
