/*#leftDiv {
  display: inline-block;
  float: left;
  width: 49.5%;
  height: 800px;
  border: solid 1px grey;
  margin: 0;
}

#rightDiv {
  display: inline-block;
  float: right;
  width: 50%;
  height: 800px;
  border: solid 1px grey;
  margin: 0;
  align-items: center;
}*/

/*#video{position:absolute;top:100px;left:20px;}*/

#player {
  margin: 0;
  padding: 0px;
}

#playerBox {
  border: 1px solid #000;
  width: 302px;
  margin-left: auto;
  margin-right: auto;
}

.playerBar{
  /*border: 1px solid grey;
  border-radius: 2px;*/
  display: block;
  /*left margin: 0px;*/
  width: inherit;
}

#parentButtons {
  display: inline-block;
  /*background-color: #000;*/
  color: #666;
  font-size:14px;
  /*font-family: Tahoma;*/
  letter-spacing:1px;
  text-align: center;
  width: 52px;
  height: 27px;
  border-radius: 2px;
  box-sizing: border-box;
}

.escolta {
  /*list-style-type: disc;*/
  list-style-position: outside;
  float: left;
  display: inline-block;
  width: 25px;
  height: 26px;
  line-height: 20px;
  background-color: #ccc;
  cursor: pointer;
  opacity: 40%;
  z-index: -1;
  border-right: 1px solid grey
  border-radius: 2px;
}

.escolta:hover {

}

#forward {
  float: right;
  display: inline-block;
  width: 25px;
  height: 26px;
  background-color: #ccc;
  border-radius: 2px;
  line-height: 20px;
  text-align: center;
  list-style-position: inside;
  cursor: pointer;
  opacity: 40%;
  z-index: -1;
}

#forward:hover{

}

#stopVideo {
  display: inline-block;
  width: 40px;
  height: 20px;
  font-size:11px;
  text-align: center;
  letter-spacing:1px;
  line-height: 20px;
  color: #666;
  background-color: #ccc;
  border-radius: 2px;
  opacity: 40%;
  z-index: -1;
  cursor: pointer;
}

.progress {
  border-right: 1px solid grey;
  border-radius: 2px;
  height: 27px;
  width: 0;
  position: relative;
  background-color: #33e0d6;
  opacity: .5;
  /*pointer-events: none;*/
  /*margin-left: 40px;*/
}

.progressParent{
  display: inline;
  margin-left: 0px;
  position: absolute;
  width: 218px;
  height: 27px;
  border-radius: 2px;
  z-index: 3;
  /*float: right;*/
}


.volumeDiv {
  bottom: 3;
  display: inline-block;
  float: right;
  width: 4px;
  height: 12px;
  margin-top: 5px;
  margin-right: 2px;
  margin-bottom: 1px;
  background-color: rgb(143, 143, 143);
}

.volumeBar {
  float: right;
  height: 20px;
  width: 30px;
  margin-right: 5px;
}

#artistName {
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing:1px;
  font-size:11px;
  width: 200px;
  float: right;
  text-align: center;
  height: 20px;
  line-height: 20px;
  z-index: 5;
}

.song{
  /*border-top: 1px solid grey;*/
  border-left: 0;
  border-right: 0;
  /*display: block;*/
  text-overflow: ellipsis;
  /*left margin: 0px;*/
  width: inherit;
  /*font-family: Tahoma;*/
  letter-spacing:1px;
  font-size:11px;
  color: #666;
  text-align: left;
  height: 30px;
}

#playListSong{
  /*border: 1px solid grey;*/
  display: inline-block;
  /*left margin: 0px;*/
  letter-spacing:1.2px;
  font-size:14px;
  color: #666;
  text-align: center;
  height: 30px;
}


/*Div containing each song in playlist*/
#songName {
  text-overflow: ellipsis;
  display:inline-block;
  /*background-color: orange;*/
}

.songName {
  /*background-color: red;*/
}

.songClass {
  /*background-color: green;*/
}
/* hovering over a song aka songName */
.songHover {
  background-color: rgb(255, 241, 154);
}

/*selected song*/
#focus {
  background-color: rgb(108, 0, 101);
}
