body {
  background-color: white;
}

/*#leftDiv {
  display: inline-block;
  float: left;
  width: 49.5%;
  height: 800px;
  border: solid 1px grey;
  margin: 0;
}

#rightDiv {
  display: inline-block;
  float: right;
  width: 50%;
  height: 800px;
  border: solid 1px grey;
  margin: 0;
  align-items: center;
}*/

/*#video{position:absolute;top:100px;left:20px;}*/

#player {
  border: 10px solid #111;
  margin: 0;
  padding:0;
}


#playerBox {
  border: 1px solid #fff;
  width: 302px;
  margin-left: auto;
  margin-right: auto;
}

.playerBar{
  border: 1px solid grey;
  border-radius: 2px;
  display: block;
  /*left margin: 0px;*/
  width: inherit;
}

#parentButtons {
  display: inline-block;
  background-color: #000;
  width: 52px;
  border-radius: 2px;
}

.escolta {
  /*list-style-type: disc;*/
  list-style-position: outside;
  display: inline-block;
  /*font-family: Tahoma;*/
  letter-spacing:1px;
  font-size:14px;
  color: #666;
  width: 25px;
  text-align: center;
  height: 26px;
  line-height: 20px;
  background-color: #ccc;
  cursor: pointer;
  opacity: 40%;
  z-index: -1;
  border-right: 1px solid grey
  border-radius: 2px;
}

#forward {
  float: right;
  display: inline-block;
  list-style-position: inside;
  /*font-family: Tahoma;*/
  letter-spacing:1px;
  font-size:14px;
  color: #666;
  width: 25px;
  text-align: center;
  height: 26px;
  line-height: 20px;
  background-color: #ccc;
  border-radius: 2px;
  cursor: pointer;
  opacity: 40%;
  z-index: -1;
}


#stopVideo {
  display: inline-block;
  font-family: Tahoma;
  letter-spacing:1px;
  font-size:11px;
  color: #666;
  width: 40px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  background-color: #ccc;
  border-radius: 2px;
  cursor: pointer;
  opacity: 40%;
  z-index: -1;
}

.progress {
  position: relative;
  background-color:red;
  height: 27px;
  width: 0;
  /*pointer-events: none;*/
  opacity: .5;
  /*margin-left: 40px;*/
  border-right: 1px solid grey;
  border-radius: 2px;
}

.progressParent{
  margin-left: 0px;
  position: absolute;
  display: inline;
  width: 220px;
  /*float: right;*/
  /*text-align: center;*/
  height: 27px;
  border-radius: 2px;
  z-index: 3;
}


.volumeDiv {
  bottom: 3;
  display: inline-block;
  float: right;
  width: 4px;
  height: 12px;
  margin-top: 5px;
  margin-right: 2px;
  margin-bottom: 1px;
  background-color: rgb(143, 143, 143);
}

.volumeBar {
  float: right;
  height: 20px;
  width:30px;
}

#artistName {
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing:1px;
  font-size:11px;
  width: 200px;
  float: right;
  text-align: center;
  height: 20px;
  line-height: 20px;
  z-index: 5;
}

.song{
  /*border-top: 1px solid grey;*/
  border-left: 0;
  border-right: 0;
  /*display: block;*/
  text-overflow: ellipsis;
  /*left margin: 0px;*/
  width: inherit;
  /*font-family: Tahoma;*/
  letter-spacing:1px;
  font-size:11px;
  color: #666;
  text-align: center;
  height: 30px;
}

#playListSong{
  border: 1px solid grey;
  display: inline-block;
  /*left margin: 0px;*/
  width: auto;
  /*font-family: Tahoma;*/
  letter-spacing:1px;
  font-size:12px;
  color: #666;
  text-align: center;
  height: 30px;
}


#songName {
  text-overflow: scroll;
}

.songName {
  background-color: rgb(255, 255, 255);
}

.songHover {
  background-color: rgb(255, 241, 154);
}

#focus {
  background-color: rgb(108, 0, 101);
}
