 /*CSS declarations go here */

/*Global*/
h1 {
  text-align: center;
  margin-left: 50%;
  margin-right: 40%;
  position: static;
}

/*img {
  width: 50px;
  height: 50px;
}*/

/*The Player*/
.container {
  text-align:center;
  width:48%;
}
iframe{
  width: 300px;
}


/*Playlists*/

.playlistDiv {
  padding: 2%;
  border-radius: 2px;
}

.playlistName {
  color: #ddd;
  cursor: pointer;
  /*display: flex;
  justify-content:flex-end;*/
}

.playlistName:hover {
  color: #eee;
  font-weight: bolder;
}

/*trashcan icon*/
.delete {
  color: #c21603;
  float: right;
}

.delete:hover,
.delete:focus,
.delete:active {
	color: #f41c03;
}
