<template name="listViewer">
  {{#each tapeName}}
    <div class="mixHeader">
      <h3 id="mixName">{{text}}</h3>
      {{>upvote}}
    </div>
  {{/each}}
<table class="songTable" role="grid">

  {{#each listTape}}
  <tr>
  <td class="songBlock">
  <div class="songClass" id="playListSong" name="{{index}}">

    <div>{{name}}</div>
    
    <div class="songName">
      {{#if getFocus focus}}
        <div id="smallPlayer"><svg class="icon-play4"><use xlink:href="#icon-play4"></use></svg></div>      
        {{else}}
          {{track}}.
      {{/if}}
      {{text}}
    </div>

  </div>
  </td>
  </tr>
  {{/each}}
  </table>
</template>
