<template name="listViewer">
  {{#each tapeName}}
    <div class="mixHeader">
      <h3 id="mixName">{{text}}</h3>

    <div class="upvoteContainer">
    <div class="upvoteDiv">
      </div>
      </div>

    </div>


  {{/each}}




<table class="songTable" role="grid">

  {{#each listTape}}
  <tr>
  <td class="songBlock">
  <div class="songClass" id="playListSong" name="{{index}}">

    <div>{{name}}</div>
    
    <div class="songName">
      {{track}}. {{text}}
    </div>

  </div>
  </td>
  </tr>
  {{/each}}
  </table>
</template>
