<template name="playlistsBrowseCreate">

  <!-- {{> headerNav}} -->
  <div id=parentMixActionButtons>
    <div id="mixActionButtons">
      <a href="#" class="showCreate button radius" id="newPlaylistButton">New</a>
      <a href="#" class="myMixes button radius" id="browseMineButton">Mixes</a>
      <a href="#" class="playa button radius" id="browseAllButton">Browse</a>
      <a href="#" class="YTplayer button radius" id="YTplayerButton">Player</a>
    </div>
  </div>

  {{> searches}}
  {{> mix}}
  {{> playlist}}
</template>
