<template name="searches">
  {{#if noTitle}}
    <h5 id="nameMixError">*Please enter a title or title already exists</h5>
  {{/if}}
  <form class="savePlay">
    <input type="text" class="q" id="mixNameinput" name="q" placeholder="Mix Title">
    <svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg>
  </form>
  {{#if songCreate}}
    <strong>
      {{#if showLast}}
      <div class="searchParent">
        <div id="searchSet">
          <input id="vidSearchInput" type="text" name="q" placeholder="Search Videos...">
          <div id="searchButton" class="searchButton"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg></div>
        </div>  
      </div>
      {{/if}}
    </strong>

<strong>
  {{#if showLast}}
    <div class="submitPlaylistParent">
      <div class="submitButton" id="submitPlaylist">Done!</div>
    </div>
  {{/if}}
</strong>

{{/if}}

{{#if showSearches}}
  
  <div class="subnavParent">
    <div class="subnav">
      {{#each results}}
        <div class="searchClass" id="{{id}}"><img class="searchImage" src="{{pic}}" alt="{{text}}"/>
          {{text}}
        </div>
      {{/each}}
      <div class="navParent">
        <div id="forwardNav">next</div>
        <div id="backwardNav">last</div>
      </div>
    </div>
  </div>
{{/if}}

{{> player}}



</template>
