<template name="searches">

<strong>
  {{#if clickCreate}}

    <strong>
    {{#if noTitle}}
      <h5 id="nameMixError">*Please enter a title or title already exists</h5>
    {{/if}}
    </strong>

    <form class="savePlay">

      <input type="text" class="q" id="mixNameinput" name="q" placeholder="Mix Title">

    </form>
  {{/if}}
</strong>

{{#if songCreate}}

<section class="search-con">

  <form class="search" id="options">

    <strong>
      {{#if showLast}}
        <input id="vidSearchInput" type="text" name="q" placeholder="Search Videos...">
      {{/if}}
    </strong>

  <ul class="subnav">
    {{#each results}}
      <li draggable="true" ondragstart="drag(event)" class="songClass" id="{{id}}"><img id="searchImage" src="{{pic}}" alt="{{text}}"/>
        {{text}}
      </li>
    {{/each}}
  </ul>

  <strong>
    {{#if showLast}}
      <button class="button small" id="submitPlaylist" type="button">Done!</button>
    {{/if}}
  </strong>

  </form>

</section>
{{/if}}


</template>
