<template name="user">
  <div class="songssss">
    {{#if title}}
      {{#each title}}
        <div id="mixName">{{text}}</div>
      {{/each}}
    {{/if}}
  </div>
    
<!--   {{#each songClient}}
    <div class="songClass" id="playListSong" name="{{index}}">
      <div>{{name}}</div> 
      <div class="songIndex"> {{track}}.</div>
      <div class="songName" id='{{id}}'>{{text}}</div>
      <a href="#" id="nope" class="delete"><i class="fa fa-trash-o"></i></a>
    </div> -->

    <!-- <button class="button tiny delete" id="deleteTrack">&times;</button> -->
<!--   {{/each}}
 --></template>
