<template name="user">

  <div class="userDis" ondrop="drop(event)" ondragover="allowDrop(event)">

    <h2>{{currentUser.username}}'s Saved Playlist</h2>


    <!-- TODO Trying to have this display the title of the playlist  -->
    <!-- <strong>
      {{#if playlist}}
        {{#each title}}
    <h2>{{text}}'s Saved Playlist</h2>
        {{/each}}
      {{/if}}
    </strong> -->

    {{#each songClient}}
      <div class="song" id="playListSong">

        <div class="songName">{{text}}
        </div>

      </div>
      <button class="delete">&times;</button>
    {{/each}}
  </div>

</template>
