<template name="user">

  <div class="userDis" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h2>{{currentUser.username}}'s Saved Playlist</h2>

    <!-- <form class="saveForm">
      <input type="submit" value="create playlist">

      <strong>
      {{#if clickCreate}}
        <input type="text" name="q" placeholder="Search...">
      {{/if}}
      </strong>
    </form> -->

    {{#each song}}
      <div class="song" id="playListSong"><div id="songName">{{text}} <button class="delete">&times;</button></div></div>

    {{/each}}
  </div>

</template>
