<template name="player">
  <div id="playerBox">
    {{> headerNav}}
    <div id="player" controls="0" name="iframe_a"></div>
      <div class="playerBar">
        <div id="parentButtons">
          <div id="escolta" class="escolta"><svg class="icon-play3"><use xlink:href="#icon-play3"></use></svg></div>
          <div id="forward"><svg class="icon-next2"><use xlink:href="#icon-next2"></use></svg></div>
        </div>
        <div class="progressParent">
          <div class="progress"></div>
        </div>
        <div class="volumeBarParent">
          <div id="100" class="volumeBar"></div>
        </div>
      </div>
    {{#if isReady "Lists"}}
      {{> user}}
      {{> listViewer}}
    {{else}}
      ...Loading
    {{/if}}
    {{> footer}}
  </div>
</template>
